*{

}

.paragraph{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    color: rgba(39, 39, 39, 0.60);
}

.first-section{
    width: 100%;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.des-section1{
   text-align: center;
}

.photo1{
    width: 600px;
    height: 850px;
    padding: 50px;
}
.title1{
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    color: #272727;
    margin-top: 100px;
}
.btn-1{
    padding: 20px 40px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    gap: 25px;
    color: white;
}
/* section styles */

.second-section{
    height: 40vh;
    margin-top: auto;
}

.photo-section2{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title2{
    text-align: center;
    margin-top: 100px;
}
.box{width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}

.box-2{width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.box-3{width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}




.picture{
    width: 250px;
    height: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-2{
    width:300px ;
}
.picture-3{
    width: 250px;
}
/* here is some problem */
.box-caption{
    text-align: center;
    font-style:normal;
    font-weight: bold;
    color: #272727;
    text-decoration-line: underline;
}
.s2-title{
    font-weight: bold;
    font-size: 60px;

}
/* section 3 styles */


.third-section{
    margin-top: auto;
    width:100%;
height: 600px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: space-evenly;
}

.description-3{
    margin-top:100px;
    text-align: center;
}




/* .picture-4{
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
} */
.span-color{
    color: #E55473;
}
.s3-title{
    color: #272727;
    font-size:50px;
    font-weight: bold;
}
/* 4th section style */
.description-4{
    text-align: center;
}
.all-img{
    width: 340px;
    height: 400px;
}
.pictures-4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

        /* width: auto;
        margin-top: 100px;
        margin-bottom: 100px;
     */
  
}

.submit-box-4{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
}



.sub-box{
    margin-top:200px;
    width: 1450px;
    height: 500px;
    background-image: url(../FlowerAsset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin-left: 310px;
}

.sub-description{
    text-align: center;
}
.s4-title{
    color: #272727;
text-align: center;
font-style: normal;
font-size: 35px;
font-weight: bold;
padding-top: 100px;

}
.email-box{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}
.email-dis{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.email-p{
    color: rgba(39, 39, 39, 0.60);
text-align:left;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding-left: 15px;
}


/* bonus part style */
.bonus-part{
    width: 100%;
    height: 700px;
background: rgba(39, 39, 39, 0.20);
padding-bottom: 20px;
}
.bonus-heading{
    text-align: center;
    color: #272727;
font-size: 80px;
font-style: normal;
font-weight: bold;
}
.icon{
    width:160px;
    margin-bottom: -10pxpx;
}

.bonus-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bb1{
    width: 300px;
    height: 250px;
    padding: 50px;
    background-color: rgba(24, 231, 242, 0.02);
    text-align: center;
    border-radius: 5px;
    box-shadow: 8px 8px 16px gray;
}









/* foot part */
.foot{
    width: 100%;
    height: 500px;
    background-color: #111010;
    margin-top: 0;
}
.foot-title{padding-top: 200px;
    text-align: center;
    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.foot-p{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
padding-top: -50px;
}
.foot-p2{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
}